@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Poppins:wght@100;300;400;500;600&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 100vh;
    font-family: "Ubuntu";
}

.btn{
    background-color: pink;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
}

.btn span{
    position: relative;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before{
    width: 300px;
    height: 300px;
}